#### Final assignment - Heart dataset

**Context:**

<sub>
Cardiovascular diseases (CVDs) are the leading cause of death globally, accounting for an estimated 17.9 million lives each year (31% of all deaths). Four out of 5 CVD deaths result from heart attacks and strokes, with one-third occurring prematurely in individuals under 70 years old. Heart failure is a common event caused by CVDs, and this dataset comprises 11 features for predicting potential heart disease. Early detection and management are crucial for people with cardiovascular disease or those at high cardiovascular risk (due to risk factors such as hypertension, diabetes, hyperlipidemia, or established disease), where a machine learning model can be invaluable.
</sub>

**Goal:**

<sub>To predict the likelihood of heart failure based on the "Heart Failure Prediction" dataset. The output will be a binary classification (0 or 1) representing the likelihood of heart failure.</sub>

**Features (x):**

<sub>The features to be used are as follows: Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak & ST_Slope.</sub>

**Target Variable (y):**

<sub>The target variable is "HeartDisease."</sub>

**Attribute Information:**

<sub>

- Age: Age of the patient [years]
- Sex: Sex of the patient [M: Male, F: Female]
- ChestPainType: Chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic]
- RestingBP: Resting blood pressure [mm Hg]
- Cholesterol: Serum cholesterol [mm/dl]
- FastingBS: Fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]
- RestingECG: Resting electrocardiogram results [Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria]
- MaxHR: Maximum heart rate achieved [Numeric value between 60 and 202]
- ExerciseAngina: Exercise-induced angina [Y: Yes, N: No]
- Oldpeak: Oldpeak = ST [Numeric value measured in depression]
- ST_Slope: The slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]
- HeartDisease: Output class [1: heart disease, 0: Normal]

</sub>

##### Step 1 - Data Loading and Initial Exploration:
<sub>

- Load the dataset into a Pandas DataFrame.
- Display basic information about the dataset.

</sub>

In [1]:
# Imports.
import pandas as pd

# Assign & print the dataset.
dataset = 'data/modified_heart_dataset_supervised.csv'
df = pd.read_csv(dataset)
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,GeneticMarker1,GeneticMarker2,BodyWeightCategory,HeartDisease
0,40,M,ATA,141,289,0,Normal,173,N,0.0,Up,0.046501,11560,Normal,0
1,49,F,NAP,158,175,0,Normal,151,N,1.0,Flat,0.619699,8575,Overweight,1
2,37,M,ATA,135,285,0,ST,97,N,0.0,Up,0.561993,10545,Overweight,0
3,48,F,ASY,140,214,0,Normal,112,Y,1.5,Flat,0.345920,10272,Obese,1
4,54,M,NAP,149,192,0,Normal,124,N,0.0,Up,0.315190,10368,Underweight,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,106,268,0,Normal,135,N,1.2,Flat,0.125356,12060,Normal,1
914,68,M,ASY,142,190,1,Normal,141,N,3.4,Flat,0.336965,12920,Overweight,1
915,57,M,ASY,135,128,0,Normal,118,Y,1.2,Flat,0.999544,7296,Underweight,1
916,57,F,ATA,128,236,0,LVH,172,N,0.0,Flat,0.405751,13452,Obese,1
917,38,M,NAP,138,170,0,Normal,175,N,0.0,Up,0.220488,6460,Normal,0

In [2]:
# Display basic information about the dataset and check for missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 918 non-null    int64
 1   Sex                 918 non-null    object
 2   ChestPainType       918 non-null    object
 3   RestingBP           918 non-null    int64
 4   Cholesterol         918 non-null    int64
 5   FastingBS           918 non-null    int64
 6   RestingECG          918 non-null    object
 7   MaxHR               918 non-null    int64
 8   ExerciseAngina      918 non-null    object
 9   Oldpeak             918 non-null    float64
 10  ST_Slope            918 non-null    object
 11  GeneticMarker1      918 non-null    float64
 12  GeneticMarker2      918 non-null    int64
 13  BodyWeightCategory  918 non-null    object
 14  HeartDisease        918 non-null    int64
dtypes: float64(2), int64(7), object(6)
memory usage: 107.7+ KB

##### Step 2 - Data Preparation

<sub>

- Identify and handle missing values.

</sub>

In [3]:
# Secondary check for missing values.
missing_values = df.isnull().sum()
print(missing_values)

# No missing values found, so we can proceed with the analysis.

Age                   0
Sex                   0
ChestPainType         0
RestingBP             0
Cholesterol           0
FastingBS             0
RestingECG            0
MaxHR                 0
ExerciseAngina        0
Oldpeak               0
ST_Slope              0
GeneticMarker1        0
GeneticMarker2        0
BodyWeightCategory    0
HeartDisease          0
dtype: int64

In [4]:
# Fadi and Alex raised concerns about the cholesterol column. Seems to have a rather high amount of 0 values. Doing a check here.
zero_cholesterol_count = (df['Cholesterol'] == 0).sum()
print(f"The number of patients with a cholesterol value of 0 is {zero_cholesterol_count}.")
# Amount of 0 values for the cholesterol column seems to be too high. Will need to be addressed.

The number of patients with a cholesterol value of 0 is 14.

##### Step 3 - Feature Engineering

<sub>

- Encode categorical variables using Dummy Encoding.

</sub>

In [8]:
# Encode categorical variables using Dummy Encoding.

# Convert all columns to a list.
columns = df.columns.tolist()
# Use this list for for encoding.
df_encoded = pd.get_dummies(df, columns=columns)
# Convert the True/False boolean values to integers instead.
df_encoded = df_encoded.astype(int)
df_encoded

,Age_28,Age_29,Age_30,Age_31,Age_32,Age_33,Age_34,Age_35,Age_36,Age_37,...,GeneticMarker2_27105,GeneticMarker2_27454,GeneticMarker2_32778,GeneticMarker2_37520,BodyWeightCategory_Normal,BodyWeightCategory_Obese,BodyWeightCategory_Overweight,BodyWeightCategory_Underweight,HeartDisease_0,HeartDisease_1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
914,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
917,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

##### Step 4 - Exploratory Data Analysis (EDA)

<sub>

- Create visualizations to explore the relationships between the features and the target variable.
- Analyze the distribution of the target variable.

</sub>

##### Step 5 - Model Training

<sub>

- Import necessary libraries for model training and evaluation
- Split the dataset into training and testing sets.
- Try these supervised learning algorithms (logistic regression, decision tree, random forest and SVM) and train a model to predict income.
- Evaluate the performance of the models using accuracy.

</sub>

In [10]:
# Split the dataset into features (X) and the target variable (y).
X = df.drop('HeartDisease', axis=1)
y = df['HeartDisease']

# Split the dataset into training and testing sets.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)