In [6]:
import pandas as pd

df = pd.read_csv('data/netherlands_IT_salaries_10.csv')

In [7]:
# Returns the number of rows and columns of the dataframe.
df.shape

(9, 1)

In [8]:
# Returns the column labels of the DataFrame.
df.columns

Index(['Year;Age;Role;City;Education;Experience;Salary'], dtype='object')

In [9]:
# Returns the row labels of the DataFrame.
df.index

RangeIndex(start=0, stop=9, step=1)

In [10]:
# Returns the data types of each column.
df.dtypes

Year;Age;Role;City;Education;Experience;Salary    object
dtype: object

In [11]:
# Returns the first n rows of the DataFrame.
df.head(3)

    Year;Age;Role;City;Education;Experience;Salary
0    2018;47;Helpdeskmanager;Apeldoorn;HBO;25;4950
1  2018;42;Applicatiebeheerder;Almelo;HAVO;10;4086
2   2018;39;Software Engineer;Amsterdam;MBO;6;3600

In [12]:
# Returns the last n rows of the DataFrame.
df.tail(3)

      Year;Age;Role;City;Education;Experience;Salary
6     2018;37;Software Engineer;Groningen;HBO;9;3800
7  2018;37;Test Automation Engineer;Amsterdam;HBO...
8             2018;36;Lead Developer;Arnhem;;16;4100

In [13]:
# Provides a concise summary of the DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 1 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Year;Age;Role;City;Education;Experience;Salary  9 non-null      object
dtypes: object(1)
memory usage: 204.0+ bytes

In [14]:
# Generates descriptive statistics for numerical columns.
df.describe()

       Year;Age;Role;City;Education;Experience;Salary
count                                               9
unique                                              9
top     2018;47;Helpdeskmanager;Apeldoorn;HBO;25;4950
freq                                                1